

* {
    margin: 0;
}
.welcome-section-container {
    border: 1px solid #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px;
}
.welcome-section {
    display: flex;
    align-items: center;
}
.welcome-section-box {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 10px;
}
.welcome-section-box:nth-child(1) {
    background-color: rgb(16, 16, 53);
}
.welcome-section-box:nth-child(1) h3 {
    color: #fff;
    font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
}
.welcome-section-box:nth-child(1) p {
    color: dodgerblue;
    font-size: 1em;
    font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.welcome-section-box:nth-child(2) h3 {
    color: dodgerblue;
    font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
}
.welcome-section-box:nth-child(2) p {
    color: #000;
    font-size: 1em;
    font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}